<div>
  <div *ngIf="producto">
    <div>
      <img [src]="imageUrl"
       class="originalImage">
    </div>
  <br>
  <form [formGroup]="productForm" 
    (ngSubmit)="update(desc.value, precio.value, disp.value);">
    <div>
      <label for="prod-nombre">Nombre: </label>
      <input id="prod-name" class="form-input" formControlName="nombre">
    </div>
    <div>
      <label for="prod-descripcion">Descripción: </label>
      <input 
          id="prod-descripcion"
          class="form-input" 
          #desc
          formControlName="descripcion"
          [class.valid]="valid('descripcion')"
          [class.invalid]="invalid('descripcion')"
      >
      <small class="error-text" *ngIf="invalid('descripcion')">
           La descripción no puede ser vacía. Además, debe tener al menos 5 caracteres.
      </small>
    </div>
    <div>
      <label for="prod-precio">Precio: </label>
      $&nbsp;
      <input 
          id="prod-precio" 
          class="form-input"
          type="number"
          step="0.01" 
          min="0.01"
          #precio
          formControlName="precio"
          [class.valid]="valid('precio')"
          [class.invalid]="invalid('precio')"
      >&nbsp;MXN
      <small class="error-text" *ngIf="invalid('precio')">
           El precio debe ser un número y debe ser al menos 1 centavo (0.01 MXN)
      </small>
    </div>
    <div>
      <label for="prod-disponible">Disponibles: </label>
      <input 
          id="prod-disponibles" 
          class="form-input"
          type="number"
          min="0"
          #disp
          formControlName="disponible"
          [class.valid]="valid('disponible')"
          [class.invalid]="invalid('disponible')"
      >

    <small class="error-text" *ngIf="invalid('disponible')">
        El número de productos disponibles debe ser un entero mayor o igual a cero.
    </small>
    </div>
    <div>
      <label for="prod-categoria">Categoría: </label>
      <input id="prod-categoria" #catProd formControlName="categoria">
    </div>
    <div>
      <label for="prod-imagen">Reemplazar la imagen: </label>
      <input 
        formControlName="imagen"
        id="prod-imagen" 
        class="form-input" 
        type="file"
        (change)="onFileChanged($event)">
      <br>
      <small class="error-text" *ngIf="invalidFile()">
        El archivo debe ser una imagen. En caso contrario permanecerá
        la imagen actual.
      </small>
    </div>

    <div>
        <button type="submit" [disabled]="!productForm.valid">Actualizar Producto</button>
    </div>
        
  </form>
  </div>

    <button (click)="goBack(false)">
        Cancelar
    </button>
</div>
