<div class="component-container">
    <h2>Registrarse</h2>
    <div class="form-container">
          <div class="maker-cols">
                <form [formGroup]="user" (ngSubmit)="onSubmit()">
                      <div class="colu">
                            <div class="one-field">
                                  <div class="label-cont">
                                        <label for="nombre">Nombre: </label>
                                  </div>
                                  <input id="nombre" class="form-input-name"  formControlName="nombre"  placeholder="nombre"
                                  [class.valid]="valid('nombre')" [class.invalid]="invalid('nombre')">
                                  <div class="warn-cont">
                                        <small class="error-text" *ngIf="invalid('nombre')">
                                        El nombre no puede ser vacío.
                                        </small>
                                  </div>
                            </div>
                            <div class="one-field">
                                  <div class="label-cont">
                                        <label for="correo">Correo </label>
                                  </div>
                                  <input id="correo" class="form-input-name"  formControlName="correo"  placeholder="numero"
                                  [class.valid]="valid('correo')" [class.invalid]="invalid('correo')">
                                  <div class="warn-cont">
                                        <small class="error-text" *ngIf="invalid('correo')">
                                        El correo no puede ser vacío
                                        </small>
                                  </div>
                            </div>
                            <div class="one-field">
                                  <div class="label-cont">
                                        <label for="contrasena">Contrasena: </label>
                                  </div>
                                  <input type= "password" id="contrasena" class="form-input-name"  formControlName="contrasena"  placeholder="contrasena"
                                  [class.valid]="valid('contrasena')" [class.invalid]="invalid('contrasena')">
                                  <div class="warn-cont">
                                        <small class="error-text" *ngIf="invalid('contrasena')">
                                        El contrasena no puede ser vacío.
                                        </small>
                                  </div>
                            </div>
                            <div class="one-field">
                                <div class="label-cont">
                                      <label for="confirmar">Confirmar: </label>
                                </div>
                                <input type= "password" id="confirmar" class="form-input-name"  formControlName="confirmar"  placeholder="confirmar"
                                [class.valid]="valid('confirmar')" [class.invalid]="invalid('confirmar')">
                                <div class="warn-cont">
                                      <small class="error-text" *ngIf="invalid('confirmar')">
                                      El confirmar no puede ser vacío.
                                      </small>
                                </div>
                          </div>
                          <div class="one-field">
                            <div class="label-cont">
                                  <label for="tipo">Tipo: </label>
                            </div>
                            <select id="tipo" class="form-input-name"  formControlName="tipo_usuario">
                                  <option *ngFor="let tipo of tipos" [ngValue]="tipo"> {{tipo}} </option>
                                  
                            </select>		
                            <!-- <input id="tipo" class="form-input-name"  formControlName="tipo"  placeholder="tipo"
                            [class.valid]="valid('tipo')" [class.invalid]="invalid('tipo')">-->
                            <div class="warn-cont">
                                  <small class="error-text" *ngIf="invalid('tipo')">
                                  El tipo no puede ser vacío.
                                  </small>
                            </div>
                      </div>
                           
                                  <div class="buttons-div">
                                        <div class="button-div" *ngIf="esIgual()" >
                                             <button class="act" type="submit" *ngIf="user.valid" (click)="enviar_datos()" >Enviar</button>
                                        </div>
                                       
                                        <!--
                                        <div class="button-div">
                                              <button class="act" type="submit" *ngIf="envio" (click)="goPago()">Pagar</button>
                                        </div>-->
                                        <div class="button-div">
                                        <button (click)="goBack()">Regresar</button>
                                        </div>
                                </div>
                            
                      </div>
                </form>

           </div>
    </div>
</div>