<div class="full-container">
  <div class="top-bar-space"></div>
  <div class="component-container">
    <div class="square-container">
      <div class="title-container">
        Acceso Denegado
      </div>
      <div class="logo-container">
        <img class="logo" src="assets/logo.png">
      </div>
      <div class="expl">
        Usted no tiene permiso de acceder a esta página.
      </div>
      <div class="button-container">
        <button (click)="goPrincipal()">
          Ir al Inicio
        </button>
      </div>
    </div>
  </div>
</div>