<div class="component-container">
    <h2>Producto</h2>
    <div *ngIf="producto">
  
        <h2>{{producto.nombre}}</h2>
    
        <div class="detail-container">
            <div class="row">
            <div class="col-lg-6">
                <div class="img-cont">
                <img class="contained" src= "https://d500.epimg.net/cincodias/imagenes/2016/05/27/smarttv/1464347585_211683_1464347760_noticia_normal.jpg"><!--'http://localhost:5000/static/{{producto.imagen}}'>-->
                </div>
            </div>
            <div class="col-lg-6">
                <div class="desc">
                {{producto.descripcion}}
                </div>
            </div>
            </div>
        </div>
    
        <div class="row">
            <div class="col-md-4">
            <div class="descmin">$ {{producto.precio}} MXN</div>
            </div>
            <div class="col-md-4">
            <div class="descmin">Disponibles: {{producto.disponible}}</div>
            </div>
            <div class="col-md-4">
            <div class="descmin">Categoría: {{producto.categoria}}</div>
            </div>
        </div>
    
        <div class="buttonsdiv">
            <button *ngIf="disponible > 0" class="up" (click)="goDireccion()">
            Comprar
            </button>
    
        </div>
  
    </div>
  
    <div class="single-button">
      <button (click)="goBack()">
        Regresar
      </button>
    </div>
</div>