

button {
    margin-top: 20px;
    background-color: #eee;
    padding: 1rem;
    border-radius: 8px;
    font-size: 1rem;
    cursor: pointer;
    width:15em;
  }
  button:hover {
    background-color: #cfd8dc;
  }
  button:disabled {
    background-color: #eee;
    color: #ccc;
    cursor: auto;
  }
  
  
  button.up {
    background-color: #7d4231;
    color: #fff;
  }
  
  button.up:hover {
    background-color: rgb(48, 31, 31);
  }
  
  .component-container {
    width: 90vw;
    min-width: 720px;
    padding: 1rem;
    margin: 0 auto;
    margin-top: max(70px, 15vh);
    border: 1px solid #4a000c;
    border-radius: 11px;
    background-color: #fdebf6;
  }
  
  .img-cont {
    object-fit: contain;
    width: 90%;
    border: 2px solid black;
  }
  
  .contained {
    width: 100%;
    max-height: 800px;
    
  }
  
  .detail-container {
    display: flex;
    justify-content: space-between;
    width:100%;
    margin: 0 auto;
    padding-bottom: 20px;
  }
  
  .desc {
    font-size: larger;
    font-weight: bold;
    height: 100%;
    display: flex;
    align-items: center;
  }
  
  .descmin {
    font-size: larger;
    font-weight: bold;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  h2 {
    font-weight: bold;
    color:black;
  }
  
  .buttonsdiv {
    padding-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width:80%;
    margin: 0 auto;
  }
  
  .single-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    width: 50%;
    margin: 0 auto;
  }