<p>principal-producto works!</p>



<div>
    <div *ngIf="producto">
        
        <div>
            <label for="prod-nombre">Nombre del Producto: </label>
            <input id="prod-name" [(ngModel)]="producto.nombre" 
            placeholder="nombre" disabled>
        </div>
        <div>
            <label for="prod-descripcion">Descripción: </label>
        producto<input id="prod-descripcion" [(ngModel)]="producto.descripcion" 
        placeholder="descripcion" #desc>
        </div>
        <div>
            <label for="prod-precio">Precio: </label>
            <input id="prod-precio" [(ngModel)]="producto.precio" 
            placeholder="precio" #precio>
        </div>
        <div>
            <label for="prod-disponible">Disponibles: </label>
            <input id="prod-disponibles" [(ngModel)]="producto.disponible" 
            placeholder="disponible" #disp>
        </div>
        <div>
            <label for="prod-categoria">Categoría: </label>
            <input id="prod-categoria" [(ngModel)]="producto.categoria" 
            placeholder="categoria" disabled>
        </div>
    
    </div>
    <!--No se por que en disponible es igual a 0 cuando deberia de ser 1    -->
    <div *ngIf="disponible === 1; then thenBlock else elseBlock"></div>
    <ng-template #thenBlock>
        <button>
            <a href="/direccion">
            Comprar
            </a>
        </button>

    </ng-template>
    <ng-template #elseBlock>
            <label>No existen productos por el momento</label>
    </ng-template>
</div>
<button>
    <a href="/">
    Regresar
    </a>
</button>
