.full-container{
  height: 100vh;
  width:100%;
  position: absolute;
  top:0px;
  left:0px;
  display:flex;
  flex-direction:column;
}
.top-bar-space{
  height:54px;
}

.component-super{
  background-image: url("~src/assets/background1.jpg");
  background-position: center bottom;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.component-container {
  width: 380px;
  height:440px;
  padding: 1rem;
  margin: 0 auto;
  margin-top: max(70px, 15vh);
  border-radius: 20px;
  background-color: #fdebf6ea;
}

h2 {
  color:rgb(50,50,50);
  font-weight: bold;
}

.form-title {
  width: 100%;
  text-align: center;
  margin-top:10px;
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width:100%;
}

.maker-cols {
  display: flex;
  justify-content: center;
  width:100%;
}

.colu {
  width:340px;
}

.one-field{
  padding: .5em;
}

.warn-cont{
  width:100%;
  display: block;
}

.form-input-name {
  width: 100%;
}

.resp-err {
  text-align: center;
  font-size: 1.25em;
  color: #dd3366;
}

label {
    color: #241313;
    font-weight: bold;
}

input {
  font-size: 1em;
  padding: .25rem;
}

input.valid{
  border-color: #44dd99;
}

input.invalid{
  border-color: #dd4499;
}


.error-text{
  display:inline;
  color: #dd3366;
  font-weight: bold;
  font-style: italic;
}

.button-div {
  display: flex;
  align-items: center;
  justify-content: center;
  width:100%;
  margin: 0 auto;
}

button {
  margin-top: 20px;
  background-color: #ffd3ee;
  padding: 0.75rem;
  font-size: 1rem;
  cursor: pointer;
  width:10em;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  border-radius: 16px;
}
button:hover {
  background-color: #fcafde;;
  cursor: pointer;
}

button.send {
  background-color: #7d4231;
  color: #fff;
}

button.send:hover {
  background-color: rgb(48, 31, 31);
}

button:disabled {
  background-color:  rgb(242, 253, 255);
  color: #999;
  cursor: auto;
}