<div class="component-container">
  <div class="form-title">
    <h2>Pago</h2>
  </div>
  <div class="form-container">
    <div class="maker-cols">
      <form [formGroup]="pago">
        <div class="colu">
          <div class="one-field">
            <div class="label-cont">
              <label for="numero_tarjeta">Numero tarjeta: </label>
            </div>
            <input id="numero_tarjeta" class="form-input-name" formControlName="numero_tarjeta"
              placeholder="numero tarjeta" [class.valid]="valid('numero_tarjeta')"
              [class.invalid]="invalid('numero_tarjeta')">
            <div class="warn-cont">
              <small class="error-text" *ngIf="invalid('numero_tarjeta')">
                El número de tarjeta debe tener 15 o 16 digitos.
              </small>
            </div>
          </div>

          <div class="one-field">
            <div class="label-cont">
              <label for="codigo">Codigo </label>
            </div>
            <input id="codigo" class="form-input-name" formControlName="codigo" placeholder="codigo"
              [class.valid]="valid('codigo')" [class.invalid]="invalid('codigo')">
            <div class="warn-cont">
              <small class="error-text" *ngIf="invalid('codigo')">
                El código de seguridad está compuesto por 3 numeros
              </small>
            </div>
          </div>
          <div class="one-field">
            <div class="label-cont">
              <label for="nombre_titular">Nombre titular </label>
            </div>
            <input id="nombre_titular" class="form-input-name" formControlName="nombre_titular"
              placeholder="nombre titular" [class.valid]="valid('nombre_titular')" [class.invalid]="invalid('nombre_titular')">
            <div class="warn-cont">
              <small class="error-text" *ngIf="invalid('nombre_titular')">
                El nombre no puede ser vacío
              </small>
            </div>
          </div>
          <div class="one-field">
            <div class="label-cont">
              <label for="fecha">fecha de vencimiento </label>
            </div>
            <input type="date" id="fecha" name="card-start" 
              [min]="today" max="2030-12-31" formControlName="fecha"
              [class.valid]="valid('fecha')" [class.invalid]="invalid('fecha')">
            <div class="warn-cont">
              <small class="error-text" *ngIf="invalid('fecha')">
                Debe ingresar una fecha posterior al día de hoy.
              </small>
            </div>
          </div>
          
          <div class="buttons-div" *ngIf="validar ===0">
            <div class="button-div">
              <button class="act" type="submit" [disabled]="!pago.valid" (click)="validad_compra()">
                Comprar
              </button>
            </div>
            <div class="button-div">
              <button (click)="goBack()">Regresar</button>
            </div>
          </div>

          <div class="result" *ngIf="validar===2">
            <div class="resp-err">
              {{mensaje}}
            </div>
            <div class="result-button">
              <button type="submit" (click)="goBegin()">Regresar a inicio</button>
            </div>
          </div>
          <div class="result" *ngIf="validar===1"> 
            <div class="resp-success">
              Compra exitosa. <br> Revise su correo para ver su comprobante.
            </div>  
            <div class="result-button">
              <button class="act" (click)="goBegin()">
                Regresar a inicio 
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>