.dbox {
  width: 50vw;
  min-width: 20em;
  max-width: 30em;
  border: 1px solid #4a000c;
  box-shadow: -2px 2px 2px #30000c;
  border-radius: 10px;
  background-color: #ffe2f4;
  font-style: italic;
  padding: 1rem;
  margin: 0 auto;
  margin-top: max(10vh, 100px);
  text-align:center;
  color: #222;
  position: inherit;
}

h3 {
  color: #111;
}

button {
  margin-top: 20px;
  background-color: #eee;
  padding: 1rem;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
}

  