.component-container {
  width: 90vw;
  min-width: 720px;
  padding: 1rem;
  margin: 0 auto;
  margin-top: max(70px, 15vh);
  border: 1px solid #4a000c;
  border-radius: 11px;
  background-color: #fdebf6;
}

label {
    color: #241313;
    font-weight: bold;
}

input {
  font-size: 1em;
  padding: .25rem;
}
button {
  margin-top: 20px;
  background-color: #eee;
  padding: 1rem;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
  width:12em;
}
button:hover {
  background-color: #cfd8dc;
  cursor: pointer;
}
button:disabled {
  background-color: #eee;
  color: #ccc;
  cursor: auto;
}

.form-input.valid{
  border-color: #44dd99;
}

.form-input.invalid{
  border-color: #dd4499;
}

.error-text{
  display:inline;
  color: #dd3366;
  font-weight: bold;
  font-style: italic;
}

.buttons-div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width:90%;
  margin: 0 auto;
}

button.act {
  background-color: #7d4231;
  color: #fff;
}

button.act:hover {
  background-color: rgb(48, 31, 31);
}

button.act {
  background-color: #7d4231;
  color: #fff;
}

button:disabled {
  background-color: #eee;
  color: #ccc;
  cursor: auto;
}

.form-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.maker-cols {
  display: flex;
  justify-content: space-between;
  width:100%;
}

.colu {
  min-width: 350px;
  width:30vw;
}

.colu2 {
  width: 55vw;
  min-width:350px;
}

.one-field{
  padding: .5em;
}

.warn-cont{
  width:100%;
  display: block;
}

.form-input-desc {
  height: 8em;
  width: 20em;
  word-break: break-word;
}

.form-input-name {
  width: 20em;
}

.form-input-num {
  width: 8em;
}

.select {
  font-size: 1em;
  padding: .5rem;
}

.img-cont {
  object-fit: contain;
  width: 100%;
  border: 2px solid black;
}

.contained {
  width: 100%;
  max-height: 600px;
}